* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.area{
    width: inherit;
    height: inherit;
    margin-top: 250px;
    display: flex;
    margin-inline: 550px;
    flex-direction: column;
    justify-content: space-around;
}

.job{
    margin-bottom: 20px;
}

.answer{
    color: red;
}