* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
p {
    margin-inline: 100px;
    padding-bottom: 30px;
}
h2 {
    margin-inline: 80px;
    padding-bottom: 10px;
}
h3 {
    margin-inline: 90px;
    padding-bottom: 10px;
}
.table{
    display: flex;
    justify-content: center;
}

.chessTable{
    margin: 20px;
    width: 240px;
    height: 240px;
}

.zxc{
    z-index: 1;
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: gray;
}