* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.area{
    margin-inline: 100px;
    margin-top: 40px;
    height: 400px;
}

h2{
    padding: 14px;
}

.border-content{
    position: relative;
    width: 760px;
    height: 700px;
    margin: 0 auto;
}

.slider-container{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#slider{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

#slider img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden{
    display: none;
}

.active{
    display: block;
}

.prev-button,
.next-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.prev-button{
    left: -50px;
}

.next-button{
    right: -50px;
}

.zxc{
    z-index: 1;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: gray;
}
