* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    display: flex;
    padding-top: 200px;
    flex-direction: column;
    align-items: center;
}
a{
    color: black;
    text-decoration: none;
}
button{
    padding: 6px 10px;
    margin-inline: 6px;
}