* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.area{
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
}
.area button{
    width: 120px;
    padding: 5px 10px;
    margin-top: 10px;
    align-self: center;
}

.zxc{
    z-index: 1;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: gray;
}